<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>All Cars</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<main>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/index}">CarApp</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/users}">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/user_main_page}">My Cars</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
</main>
<h1>Car Models</h1>
<h2>All Cars:</h2>
<table>
    <tr>
        <th>Car Name</th>
        <th>Actions</th>
    </tr>
    <tr th:each="car : ${cars}">
        <td th:text="${car.name}"></td>
        <td>
            <form th:action="@{/deleteCar}" method="post">
                <input type="hidden" th:name="carId" th:value="${car.id}" />
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
</table>
<h2>All Models:</h2>
<table>
    <tr>
        <th>Model</th>
        <th>Car Name</th>
        <th>Actions</th>
    </tr>
    <tr th:each="model : ${carModels}">
        <td th:text="${model.model}"></td>
        <td th:text="${model.car.name}"></td>
        <td>
            <form th:action="@{/deleteModel}" method="post">
                <input type="hidden" th:name="modelId" th:value="${model.id}" />
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
</table>
<h2>Add Car:</h2>
<form th:action="@{/addCar}" method="post">
    <input type="text" th:name="carName" placeholder="Car Name" />
    <button type="submit">Add Car</button>
</form>

<!-- Add a new model -->
<h2>Add Model:</h2>
<form th:action="@{/addModel}" method="post">
    <select th:name="carId">
        <option th:each="car : ${cars}" th:value="${car.id}" th:text="${car.name}"></option>
    </select>
    <input type="text" th:name="modelName" placeholder="Model Name" />
    <button type="submit">Add Model</button>
</form>
</body>
</html>